@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    
    
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: var(--Off-white);
    font-weight: 400;
}

.container{
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
    padding: 40px 200px;
}

/* navigation section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
} 

nav .links a{
    text-decoration: none;
    margin-right: 14px;
    color: var(--Dark-grayish-blue);
    font-size: 16px;
}

nav .links a:hover{
    color: var(--Soft-red);
    cursor: pointer;
    transition: 0.3s;
}

nav .links a:last-child{
    margin-right: 0;
}

.icon-menu{
    display: none;
    cursor: pointer;
}

.back-drop{
    display: none;
}


/* hero section */

/* first-section */

.img-web3-mobile{
    display: none;
}

.hero-section{
    display: grid;
    grid-gap: 50px;
}

.first-section{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "hero-img hero-img hero-img news"
    "hero-img hero-img hero-img news"
    "intro intro intro news";
}


.hero-img{
    grid-area: hero-img;
}

.hero-img img{
    width: 100%;
}

.intro{
    grid-area: intro;
    display: flex;

}

.intro h1{
    flex: 1;
    margin-right: 2rem;
    color: var(--Very-dark-blue);
    font-size: 2rem;
    font-weight: 800;
}

.intro .description{
    flex: 2;
}

.intro .description p{
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
}

.intro .description button{
    background-color: var(--Soft-red);
    padding: 10px 12px;
    color: var(--Off-white);
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 10px;
}

.intro .description button:hover{
    background-color: var(--Very-dark-blue);
    cursor: pointer;

}

.news{
    grid-area: news;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 30px;
}

.news h2{
    color: var(--Soft-orange);
    margin-bottom: 20px;
    font-size: 2rem;
}

.news .card{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Grayish-blue);
    margin-bottom: 20px;
}

.news .card:last-child{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.news .card h3{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--Off-white)
}

.news .card h3:hover{
    color: var(--Soft-orange);
    cursor: pointer;
}

.news .card p{
    color: var(--Grayish-blue);
    font-size: 13px;
    line-height: 1.5;
}

/* hero-section */
/* second-section */

.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-tech{
    display: flex;
    margin-right: 20px;
}

.best-tech img{
    height: 110px;
    margin-right: 15px;
}

.best-tech:last-child{
    margin-right: 0;
}

.best-tech .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content span{
    display: inline-block;
    font-size: 25px;
    color: var(--Grayish-blue);

}

.content h4{
    font-size: 14px;
    margin: 10px 0px;
}

.content h4:hover{
   color: var(--Soft-red);

}

.content p{
    color: var(--Dark-grayish-blue);
    font-size: 14px;
}



/* responsive mobile */

@media (max-width: 768px){
    .container{
        padding: 30px 20px;
        /* overflow: hidden; */
    }
    
    nav .links{
        position: fixed; 
        display: flex;
        flex-direction: column;
        background-color: var(--Off-white);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        padding-top: 200px;
        padding-left: 30px;
        z-index: 99;
        transition: all 650ms ease-in-out;
    }
    
    .backdrop{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.3;
        background-color: black;
        height: 100vh;
        width: 100vw;
        z-index: 98;
        transition: all 650ms ease-in-out;
    }
    
    .backdrop.active{
        display: block;
     
    
    }
    nav .links a{
        margin-bottom: 30px;
    
    }
    
    nav{
        position: sticky;
    }
    
    nav .links.active{
        right: 0;
    }
    
    .menu-open{
        display: inline-block;
        transition: all 650ms ease-in-out;
    }
    
    .menu-open.active{
        display: none;
    }
    
    .menu-close{
        display: none;
        transition: all 650ms ease-in-out;
    }
    
    .menu-close.active{
        display: inline-block;
        z-index: 100;
        
    }
    
    /* hero-section */
    .first-section{
        grid-template-areas: 
        "hero-img"
        "intro"
        "news";
    }
    
    .img-web3-mobile{
        display: block;
    }
    
    .img-web3-desktop{
        display: none;
    }
    
    .intro{
        flex-direction: column;
    }
    
    .intro h1{
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    
    .intro .description{
        line-height: 1.5;
    }
    
    .second-section{
        flex-direction: column;
    }
    
    .best-tech{
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .best-tech h4{
        margin: 5px 0px
    }

    

    

}